p { 
    color: red; 
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 2em ;
    border: 1px solid black;
    border-style: solid; 
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 100px;
    background-color: white;
}